$bg_dark_blue: #050A24;
$primary:#0d6efd;
$primary_low: #D1E9FF;
$bg-dark: rgb(37, 35, 35);
$bg-dark-low: rgb(85, 85, 85);
$gray-text: rgb(121, 121, 121);

//breakpoints according to bootstrap
$bp-small:576px;
$bp-medium:768px;
$bp-large:992px;
$bp-xlarge:1200px;
$bp-xxlarge:1400px;

$fz-1:56;

